<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.myweb.basic.topic.TopicMapper">

<insert id="topicReg">
	INSERT INTO topic(topic_bno,  topic_regdate,topic_id, topic_title, topic_content)
	VALUES(#{topic_bno}, #{topic_regdate},#{topic_id}, #{topic_title},#{topic_content})
</insert>



</mapper>